<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="people" class="com.springframework.entity.People"/>

    <bean id="people1" class="com.springframework.entity.People">
        <property name="id" value="1"/>
        <property name="name" value="小一"/>
        <property name="age" value="11"/>
    </bean>

    <bean id="people2" class="com.springframework.entity.People">

        <constructor-arg index="0" value="2"/>
        <constructor-arg index="1" value="小二"/>
        <constructor-arg index="2" value="22"/>
    </bean>

    <bean id="people3" class="com.springframework.entity.People">
        <constructor-arg type="int" value="3"/>
        <constructor-arg type="java.lang.String" value="小三"/>
        <constructor-arg type="int" value="33"/>
    </bean>
</beans>