<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="yue" class="com.springframework.kanma.services.Yue"/>
    <bean id="testWork" class="com.springframework.kanma.services.TestWork">
        <property name="tester" ref="yue"></property>
    </bean>
</beans>